<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #customerForm="ngForm">
        <div class="form-group">
          <label for="customerNr">Customer #</label>
          <input type="text" [(ngModel)]="customer.customerNr" 
            class="form-control" 
            id="customerNr" 
            name="customerNr" 
            placeholder="Enter the customer number"
            required #customerNr="ngModel">
          <div [hidden]="!customerNr.pristine" class="alert alert-danger">Customer number is required</div>
        </div>
        <div class="form-group">
          <label for="customerName">Customer Name</label>
          <input type="text" [(ngModel)]="customer.customerName" 
            class="form-control" 
            id="customerName" 
            name="customerName" 
            placeholder="Enter customer name"
            required #customerName="ngModel">
        </div>
        <div [hidden]="!customerName.pristine" class="alert alert-danger">Customer Name is required</div>
        <button type="submit" [disabled]="!customerForm.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>