<!-- <div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div> -->

<section class="hero is-primary is-bold is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <header class="jumbotron">
          <!-- <p>{{ content }}</p> -->
          <!-- <h1 class="title">
            Welcome!
          </h1> -->
          <h1>
            Welcome!
          </h1>
          <br>
          <h2>
            Please view our books or login to request one!
          </h2>
        </header>
        <button class="button is-primary" [routerLink]="'/books'">View Books</button>
        <button class="button is-primary" [routerLink]="'/about'">About</button>
      </div>
    </div>
</section>