.hero {
    background-image: url('/assets/img/librarypic.jpg') !important;
    background-size: cover;
    background-position: center center;
}

button {
    margin-left :15px 
}

.jumbotron {
    position: inherit;
    width: 100%;
    height: 57.5%;
    padding-top: 5%;
    text-align: center;
    display: inline-block;
  }

h1, h2 {
    color: black;
}