<h1>Book List</h1>

<br>

<!-- <ul>
    <li *ngFor = "let book of books | async">
        {{book.bookId}}
        {{book.bookNr}}
        {{book.bookNamee}}
        {{book.author}}
        {{book.genre}}
        {{book.price}}
        {{book.availability}}
    </li>
</ul> -->

<!-- <div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by author"
        [(ngModel)]="author"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchAuthor()"
        >
          Search
        </button>
      </div>
    </div>
  </div> -->

<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Genre</th>
            <th scope="col">Price</th>
            <th scope="col">Availability</th>
          </tr>
        </thead>
        <tbody>
          <tr 
            *ngFor = "let book of books | async; let i index"
            [class.active]="i == currentIndex"
            (click)="setActiveBook(book, i)">
            <td>{{book.bookId}}</td>
            <td>{{book.bookNr}}</td>
            <td>{{book.bookName}}</td>
            <td>{{book.author}}</td>
            <td>{{book.genre}}</td>
            <td>{{book.price}}</td>
            <td>{{book.availability}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<!-- </div>
<div class="col-md-6">
  <div *ngIf="currentBook">
    <h4>Book</h4>
    <div>
      <label><strong>Author:</strong></label> {{ currentBook.bookName }}
    </div>
    <div>

    <a class="badge badge-warning" routerLink="/books/{{ currentBook.id }}">
      Edit
    </a>
  </div>
</div>
</div> -->

  <div class="container" *ngIf="isLoggedIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card bg-dark my-5">
          <div class="card-body">
            <ul class="text-center list-inline py-3">
              <li class="list-inline-item">
                <a routerLink="/books" class="btn btn-info">List Books</a>
                  </li>
              <li class="list-inline-item">
                <a routerLink="/addbook" class="btn btn-info">Add Book</a>
                  </li>
              <!-- <li class="list-inline-item">
                <a class="btn btn-danger" (click)="removeAllBooks()">Remove All</a>
                  </li> -->
            </ul>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>