<h1>Author List</h1>

<ul>
    <li *ngFor = "let author of authors | async">
        {{author.authorId}}
        {{author.authorNr}}
        {{author.authorName}}
        {{author.bookByAuthor}}
    </li>
</ul>